:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --accent-color:#E54065;
  --black-1:#212529;
  --black-2:#343a40;
  --black-3:#495057;
  --white-1:#f8f9fa;
  --white-2:#e9ecef;
  --white-3:#dee2e6;

  
}

* {
  padding: 0;
  margin: 0;
  color: ;
}

a {
  text-decoration: none;
  color: black;
}

button {
  color: #242424;
  cursor: pointer;
}

body {
  padding: 24px;
  background-color: var(--white-1);
}

header {
  display: flex;
  gap: 24px;
  height: 48px;
  align-items: center;
}

a.active {
  color: #E54065;
}

.master {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.card {
  padding: 16px;
  border: 1px solid var(--border-color);
  border: 1px solid var(--white-3);
  border-radius: 10px;
  display: flex;
  gap: 16px;
}

.circle {
  background-color: var(--accent-color);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-1);
  font-weight: 600;
}

.card-rightcol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--black-3);
}



.card-rightcol div:nth-child(1) span {
  font-weight: 500;
  margin-right: 8px;
}

.card-rightcol div:nth-child(3) {
  display: flex;
  gap: 32px;
  font-size: 14px;
}

.card-rightcol div:nth-child(3) p:nth-child(2) {
  color: var(--accent-color);
  font-weight: 500;
} 

.card.active {
  background-color: var(--white-2);
  color: black;
}


.container {
  display: flex;
  gap: 8px;
}

.slave {
  display: none;
  border: 1px solid var(--border-color);
}

.container.extended .slave {
  display: flex;
  flex: 1;
  border: 1px solid var(--white-3);
  border-radius: 10px;
  padding: 16px;
  height: fit-content;
}

.email-body {
  display: flex;
  gap: 16px;
  width: 100%;
}

.email-body-rightcol{
  flex: 1;  
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.email-body-rightcol-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email-body-rightcol-header p {
  font-size: 24px;
  font-weight: 500;
  color: var(--black-3);
}

.email-body-rightcol-header button {
  padding: 4px 16px;
  border: none;
  background-color: var(--accent-color);
  color: var(--white-1);
  font-weight: 500;
  border-radius: 30px;
}

.email-body-rightcol-content div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--black-3);
}






